:root {
  height: 100%;
}

body {
  background-color: #001219;
  color: #e9d8a6;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: auto;
}

.bg-primary {
  background-color: #0a9396;
}

.text-primary {
  color: #94d2bd;
}

.bg-warning {
  background-color: #ee9b00;
}

.text-warning {
  color: #ee9b00;
}

.bg-danger {
  background-color: #ae2012;
}

.text-danger {
  color: #ae2012;
}

header {
  background-color: #bb3e03;
  padding: 20px 40px;
  margin-bottom: 48px;
}

a#header-logo,
a#header-logo:visited {
  color: #e9d8a6;
  text-decoration: none;
  outline: none;
}

footer {
  background-color: #bb3e03;
  left: 0;
  bottom: 0;
  padding: 10px 20px;
  margin-top: 48px;
  text-align: right;
  box-sizing: content-box;
}

footer > p {
  margin-right: 20px;
}

.heart {
  color: red;
}

.messages-container {
  border: solid 2px #e9d8a6;
  border-radius: 10px;
  padding: 10px 20px;
}
