footer {
    background-color: $header-bg-color;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: right;
    box-sizing: content-box;
}

footer > p {
    margin-right: 20px;
}

.heart {
    color: red;
}
