.form-container {
	margin-bottom: 48px;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.input-container > input[type="text"],
.input-container > textarea {
	margin: 10px 0;
	padding: 10px 20px;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: $text-color;
	border: solid 2px $text-color;
	border-radius: 20px;
}

.input-container > input[type="text"] {
	font-size: 14pt;
}

.input-container > textarea {
	font-family: inherit;
	font-size: 12pt;
	resize: vertical;
	min-height: 20px;
}

.button-container {
	display: flex;
	justify-content: flex-end;
}
