$bg-color: #001219;
$text-color: #e9d8a6;
$header-bg-color: #bb3e03;

$primary: #0a9396;
$primary-text: #94d2bd;
$primary-border: #005f73;
$warning: #ee9b00;
$warning-border: #bb3e03;
$danger: #ae2012;
$danger-border: #9b2226;
$success: #57cc99;
$success-text: #c7f9cc;
$success-border: #22577a;
