// Variáveis Globais
$bg-color: #001219;
$text-color: #e9d8a6;
$header-bg-color: #bb3e03;
$btn-primary-bg: #0a9396;
$btn-primary-text: #94d2bd;
$btn-warning-bg: #ee9b00;
$btn-danger-bg: #ae2012;

// Importações
@import "index";
@import "header";
